body {
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 150px;
}

h2 {
    text-transform: capitalize;
}

#loadMoreButton {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

#pokedex {
    color: black;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    color: black;
    justify-content: center;
}

.container {
    margin: 16px;
    border-radius: 16px 0;
    padding: 16px;
    color: rgba(0, 0, 0, 0.85);
    width: 200px!important;
    cursor: pointer;
    box-sizing: content-box;
}

.container:hover{
    box-shadow: rgba(255, 255, 255) 0px 7px 29px 0px;
    transition: .225s;
}

.container h2 {
    text-transform: capitalize;
}

.container p {
    text-transform: capitalize;
    font-weight: bolder;
}

.flexBox {
    display: flex;
}

.flexBox p {
    text-transform: capitalize;
    font-weight: bold;
}

.id {
    color: rgb(84, 84, 84);
    font-weight: bold;
}

.bgColor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    display: flex;
    cursor: pointer;
}

.details p {
    padding-right: 14px;
    cursor: pointer;
}

.details p:hover {
    color: rgba(50, 50, 50, .8);
    transition: .225s;
}

.containerDetails {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    overflow: auto;
    margin-bottom: 8px;
}

.underlined-text {
    text-decoration: underline;
}

.evolution {
    text-transform: capitalize;
}

#moves{
    text-transform: capitalize;
    max-height: 30vh;
    overflow-y: auto;
}

.modal-content{
    display: block!important;
    width: auto!important;
}

.d-grid{
    margin: 32px 0;
}

#myChart{
    display: none;
}

.pokeBall{
    width: 64px;
}

.pokeBar{
    display: flex;
    justify-content: space-evenly!important;
}

nav{
    position: fixed;
}

.fa-circle-up{
    position: absolute;
    right: 15%;
    font-size: 40px;
    cursor: pointer;
    font-weight: 800;
    color: #0D6EFD;
}

.up{
    display: contents;
}